In [2]:
# dictionary ---------
# key value pair we used in the dictionary 
# {"Key" : "value"}
# key always unique 
# dict is always the mutable i;e we can change the value

In [4]:
d= {}
type(d)

dict

In [5]:
dict  = {1: "Sachin" , 2 :"Sharma",  3 :"Akash " , 4 :"Adarsh "}

In [6]:
dict

{1: 'Sachin', 2: 'Sharma', 3: 'Akash '}

In [26]:
d = { True : 56,"Name" : "sachin", "email":"ss@gmail.com","phone":5648 ,"@sa" :"Sac" , "Name":"Sharma"}
d

{True: 56,
 'Name': 'Sharma',
 'email': 'ss@gmail.com',
 'phone': 5648,
 '@sa': 'Sac'}

In [23]:
 # to access value 
d["email"]

'ss@gmail.com'

In [27]:
d["Name"]
# there are two key sa,e name so it overwrite and it give the last ouput

'Sharma'

In [29]:
d1 = {"course" :["phy",56,"chem",89.02 ] ,"company":"TECHYSACHIN"}
d1

{'course': ['phy', 56, 'chem', 89.02], 'company': 'TECHYSACHIN'}

In [31]:
# accesse chemistry
d1['course'][2]

'chem'

In [33]:
d1 = {"course" :["phy",56,"chem",89.02 ] ,"company":"TECHYSACHIN" ,"class_time": {"Sa" :56,"pw":89,"Sachin":"Sharma"}}
d1

{'course': ['phy', 56, 'chem', 89.02],
 'company': 'TECHYSACHIN',
 'class_time': {'Sa': 56, 'pw': 89, 'Sachin': 'Sharma'}}

In [34]:
# now acces 89 from class time 
d1["class_time"]

{'Sa': 56, 'pw': 89, 'Sachin': 'Sharma'}

In [35]:
d1["class_time"]["pw"]
# henced accessed

89

In [36]:
# append the value 
d1["Aksh"]= {"inuo":"ds","dsa":"python"}
d1
# henced added

{'course': ['phy', 56, 'chem', 89.02],
 'company': 'TECHYSACHIN',
 'class_time': {'Sa': 56, 'pw': 89, 'Sachin': 'Sharma'},
 'Aksh': {'inuo': 'ds', 'dsa': 'python'}}

In [37]:
# for delete the use del function

In [40]:
del d1["Aksh"]
d1

{'course': ['phy', 56, 'chem', 89.02],
 'class_time': {'Sa': 56, 'pw': 89, 'Sachin': 'Sharma'}}

In [41]:
# convert into list 
list(d1.keys())

['course', 'class_time']

In [44]:
# now convert tthe value in to the list
list(d1.values())

[['phy', 56, 'chem', 89.02], {'Sa': 56, 'pw': 89, 'Sachin': 'Sharma'}]

In [45]:
# now acces both keys and value 
list(d1.items())


# anser will com list of tuples

[('course', ['phy', 56, 'chem', 89.02]),
 ('class_time', {'Sa': 56, 'pw': 89, 'Sachin': 'Sharma'})]

In [57]:
# pop mei key do then it automatically remove the value 
d1.pop('course')
d1

KeyError: 'course'

In [58]:
# now decision Making Statements 
# if else statements

In [66]:
marks = int(input("Enter the value of the marks "))
if(marks>=80):
    
    print("you will be the part of Anot batch")
elif( marks<80 and marks >=50):
    
    print("Do Hard Work ! YOU are near the Anot Batch" )
    
else :
    print("your batch will  remain Same \n Sorry ! Try Again ")

Enter the value of the marks  62

Do Hard Work ! YOU are near the Anot Batch

In [68]:
# nested if means if of if 


price = int(input("enter the price"))
if(price>=100):
    print("good product")
    if(price>500):
        print("HURRY UP!")

enter the price 600

good product
HURRY UP!

In [69]:
# Loop 


l = [2 , 5 ,8,7,8,7,8,7,8,47,8,4,5]

l

[2, 5, 8, 7, 8, 7, 8, 7, 8, 47, 8, 4, 5]

In [70]:
for i in l:
    print(i)

2
5
8
7
8
7
8
7
8
47
8
4
5

In [73]:
l1=[]
for i in l:
    print(i)
    l1.append(i+1)
l1

2
5
8
7
8
7
8
7
8
47
8
4
5

[3, 6, 9, 8, 9, 8, 9, 8, 9, 48, 9, 5, 6]

In [81]:
# convert into the uppercase


l = ["us","aka","pw","pwill"]
l1 = []
for i in l:
    print(i)
    l1.append(i.upper())
l1

us
aka
pw
pwill

['US', 'AKA', 'PW', 'PWILL']

In [ ]:
l= [2,5,6,7,1,9,"sach","sharma","techysachin","tution"]

In [85]:
l11 = []  #numeric 
l22 =[]  #for string 
for i in l:
    if(type(i) == int or type(i) ==float):
        
        l11.append(i)
    else :
        l22.append(i)

['us', 'aka', 'pw', 'pwill']

In [87]:
l11

[]