In [ ]:
# Loop in Python 
# for loop in python 
# range funcytion in python

In [2]:
s= "sachin"
for i in s:
    
    print(i)

s
a
c
h
i
n

In [3]:
# now range function in python 
l = [56,78,89.3,"sachin sharm "]
for i in l:
    print(i , type(i))

56 <class 'int'>
78 <class 'int'>
89.3 <class 'float'>
sachin sharm  <class 'str'>

In [5]:
l = [56,78,89.3,"sachin sharm "] 
for i in l:
    print(i)

56
78
89.3
sachin sharm

In [6]:
range(5)
# range is a generator function used to ganarate a number betwween

range(0, 5)

In [7]:
# for print the number between the range in list 
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
# for print evene position 
list(range(0,5 ,2))

[0, 2, 4]

In [18]:

# now range function with the list 
l = ["sachin sharma ","akash ","adarsh ","sach"]
for i in range(len(l)):
    print(i)  # print the index 
    print(l[i]) # printing the value of respective index

0
sachin sharma
1
akash
2
adarsh
3
sach

In [25]:
l = [56,89,45.7,89,12,122,14,45,46,0,2]
length = len(l)

for i in l : 
    print(i)
else :
    print("if for loop is able to complete itself then only else will execute")

56
89
45.7
89
12
122
14
45
46
0
2
if for loop is able to complete itself then only else will execute

In [27]:
for i  in l:
    print(i)
    break

56

In [31]:
for i  in l:
    print(i*2 ,  end = "-")

112-178-91.4-178-24-244-28-90-92-0-4-

In [39]:
for i in range(len(l), -1 ,-1):
    
    print(i , end = " ")

11 10 9 8 7 6 5 4 3 2 1 0

In [41]:
# eveen position
for i in range(len(l)-1, -1 ,-1):
    
    print(l[i])

2
0
46
45
14
122
12
89
45.7
89
56

In [45]:
 #reverse postion 
    lst = ["sachin" , "sharma","akash","ppl"]
for i in range(len(lst)-1,-1,-1):
    print(lst[i])

ppl
akash
sharma
sachin

In [50]:
dict = {"name":"sachin" ,"email":"ss@gmail" , "courses":["ML","DL","Phy","Chem","Notc"]}
#for print the keys of the dictionary 
# dict.keys()
print("\r")
#for print the value of the respective keys 
dict.values()

dict_values(['sachin', 'ss@gmail', ['ML', 'DL', 'Phy', 'Chem', 'Notc']])

In [51]:
for i in dict.keys():
    print(i)

name
email
courses

In [52]:
for i in dict.values():
    print(i)

sachin
ss@gmail
['ML', 'DL', 'Phy', 'Chem', 'Notc']

In [53]:
for i in range(dict.keys()):
    print(i)

TypeError: 'dict_keys' object cannot be interpreted as an integer

In [54]:
for i in dict.keys():
    print(dict['courses'])

['ML', 'DL', 'Phy', 'Chem', 'Notc']
['ML', 'DL', 'Phy', 'Chem', 'Notc']
['ML', 'DL', 'Phy', 'Chem', 'Notc']

In [55]:
l = [1,2,4,56,8,9]
sum(l)

80

In [61]:
# or the second ways to calculate the sum 
result = 0;
for i in l:
    result= result+i
    # printing result = result+i at each stages 
    print(result)
    
print("\r") #for new line 
    
#ek sath sum 
print(result)

1
3
7
63
71
80

80

In [62]:
# to print the keys and values together 
for i in dict.items():
    print(i)

('name', 'sachin')
('email', 'ss@gmail')
('courses', ['ML', 'DL', 'Phy', 'Chem', 'Notc'])